<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,51}</string>
                <key>spriteSourceSize</key>
                <string>{243,51}</string>
                <key>textureRect</key>
                <string>{{930,0},{243,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image1_0_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,51}</string>
                <key>spriteSourceSize</key>
                <string>{243,51}</string>
                <key>textureRect</key>
                <string>{{671,51},{243,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,51}</string>
                <key>spriteSourceSize</key>
                <string>{243,51}</string>
                <key>textureRect</key>
                <string>{{428,51},{243,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image1_999.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,51}</string>
                <key>spriteSourceSize</key>
                <string>{243,51}</string>
                <key>textureRect</key>
                <string>{{1601,0},{243,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,51}</string>
                <key>spriteSourceSize</key>
                <string>{214,51}</string>
                <key>textureRect</key>
                <string>{{1387,0},{214,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image2_0_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,51}</string>
                <key>spriteSourceSize</key>
                <string>{214,51}</string>
                <key>textureRect</key>
                <string>{{0,51},{214,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,51}</string>
                <key>spriteSourceSize</key>
                <string>{214,51}</string>
                <key>textureRect</key>
                <string>{{1173,0},{214,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image2_999.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,51}</string>
                <key>spriteSourceSize</key>
                <string>{214,51}</string>
                <key>textureRect</key>
                <string>{{214,51},{214,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_0_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{1060,504},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_0_0_0_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{1283,504},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_0_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{1506,504},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_0_0_999.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{1729,504},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_0_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{0,774},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_0_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{446,774},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_0_1_999.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{223,774},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_0_999_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{1561,774},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_0_999_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{223,1044},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_0_999_999.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{669,1044},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_1_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{446,1044},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_1_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{0,1044},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_1_0_999.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{1338,774},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_1_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{669,774},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_1_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{1115,774},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_1_1_999 .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{892,774},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_1_999_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{892,1044},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_1_999_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{1338,1044},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_1_999_999.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{669,1314},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_999_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{1115,1314},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_999_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{1561,1314},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_999_0_999.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{1338,1314},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_999_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{892,1314},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_999_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{446,1314},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_999_1_999.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{1115,1044},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_999_999_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{1561,1044},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_999_999_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{223,1314},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3_999_999_999.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{223,270}</string>
                <key>textureRect</key>
                <string>{{0,1314},{223,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_0_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{1484,353},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_0_0_0_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{0,353},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_0_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{1550,51},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_0_0_999.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{1762,51},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_0_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{212,202},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_0_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{914,51},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_0_1_999.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{1126,51},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_0_999_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{1338,51},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_0_999_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{0,202},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_0_999_999.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{1272,353},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_1_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{1696,202},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_1_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{212,353},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_1_0_999.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{424,202},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_1_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{1484,202},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_1_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{1272,202},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_1_1_999.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{848,202},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_1_999_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{636,202},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_1_999_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{212,504},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_1_999_999.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{1060,202},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_999_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{0,504},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_999_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{424,353},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_999_0_999 .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{636,504},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_999_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{848,504},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_999_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{424,504},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_999_1_999.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{848,353},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_999_999_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{636,353},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_999_999_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{1060,353},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4_999_999_999.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{1696,353},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image5_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,51}</string>
                <key>spriteSourceSize</key>
                <string>{197,51}</string>
                <key>textureRect</key>
                <string>{{733,0},{197,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image5_0_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,51}</string>
                <key>spriteSourceSize</key>
                <string>{197,51}</string>
                <key>textureRect</key>
                <string>{{142,0},{197,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,51}</string>
                <key>spriteSourceSize</key>
                <string>{197,51}</string>
                <key>textureRect</key>
                <string>{{339,0},{197,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image5_999.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,51}</string>
                <key>spriteSourceSize</key>
                <string>{197,51}</string>
                <key>textureRect</key>
                <string>{{536,0},{197,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image6_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{30,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{46,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{62,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image6_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{14,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image6_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{110,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image6_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{126,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image6_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image6_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{94,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image6_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{78,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>images.png</string>
            <key>size</key>
            <string>{1974,1584}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6782dbf4e97ecea9efd9f93995ec0606:2afe937dd57fc9c253a1f477a2745af2:e1a9b31caf258d7c92150a6ccbde6fbd$</string>
            <key>textureFileName</key>
            <string>images.png</string>
        </dict>
    </dict>
</plist>
