<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image2_2.p00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,51}</string>
                <key>spriteSourceSize</key>
                <string>{214,51}</string>
                <key>textureRect</key>
                <string>{{0,0},{214,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image2_2.p01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,51}</string>
                <key>spriteSourceSize</key>
                <string>{214,51}</string>
                <key>textureRect</key>
                <string>{{214,0},{214,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image2_2.p02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,51}</string>
                <key>spriteSourceSize</key>
                <string>{214,51}</string>
                <key>textureRect</key>
                <string>{{0,51},{214,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image2_2.p03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,51}</string>
                <key>spriteSourceSize</key>
                <string>{214,51}</string>
                <key>textureRect</key>
                <string>{{214,51},{214,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image2_2.p04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,51}</string>
                <key>spriteSourceSize</key>
                <string>{214,51}</string>
                <key>textureRect</key>
                <string>{{0,102},{214,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image2_2.p05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,51}</string>
                <key>spriteSourceSize</key>
                <string>{214,51}</string>
                <key>textureRect</key>
                <string>{{214,102},{214,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image2_2.p06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,51}</string>
                <key>spriteSourceSize</key>
                <string>{214,51}</string>
                <key>textureRect</key>
                <string>{{0,153},{214,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image2_2.p07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,51}</string>
                <key>spriteSourceSize</key>
                <string>{214,51}</string>
                <key>textureRect</key>
                <string>{{214,153},{214,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image2_2.p08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,51}</string>
                <key>spriteSourceSize</key>
                <string>{214,51}</string>
                <key>textureRect</key>
                <string>{{0,204},{214,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image2_2.p09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,51}</string>
                <key>spriteSourceSize</key>
                <string>{214,51}</string>
                <key>textureRect</key>
                <string>{{214,204},{214,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>image2.png</string>
            <key>size</key>
            <string>{428,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0297b993d35e36760efc8e912de4021e:f6f3f79acb01bbede32c7f6e706f3e02:3476d77b960defe0b9a5aa9f9b26a17d$</string>
            <key>textureFileName</key>
            <string>image2.png</string>
        </dict>
    </dict>
</plist>
