<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image5_2.p00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,51}</string>
                <key>spriteSourceSize</key>
                <string>{197,51}</string>
                <key>textureRect</key>
                <string>{{0,0},{197,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image5_2.p01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,51}</string>
                <key>spriteSourceSize</key>
                <string>{197,51}</string>
                <key>textureRect</key>
                <string>{{197,0},{197,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image5_2.p02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,51}</string>
                <key>spriteSourceSize</key>
                <string>{197,51}</string>
                <key>textureRect</key>
                <string>{{394,0},{197,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image5_2.p03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,51}</string>
                <key>spriteSourceSize</key>
                <string>{197,51}</string>
                <key>textureRect</key>
                <string>{{591,0},{197,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image5_2.p04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,51}</string>
                <key>spriteSourceSize</key>
                <string>{197,51}</string>
                <key>textureRect</key>
                <string>{{788,0},{197,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image5_2.p05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,51}</string>
                <key>spriteSourceSize</key>
                <string>{197,51}</string>
                <key>textureRect</key>
                <string>{{985,0},{197,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image5_2.p06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,51}</string>
                <key>spriteSourceSize</key>
                <string>{197,51}</string>
                <key>textureRect</key>
                <string>{{1182,0},{197,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image5_2.p07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,51}</string>
                <key>spriteSourceSize</key>
                <string>{197,51}</string>
                <key>textureRect</key>
                <string>{{1379,0},{197,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image5_2.p08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,51}</string>
                <key>spriteSourceSize</key>
                <string>{197,51}</string>
                <key>textureRect</key>
                <string>{{1576,0},{197,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image5_2.p09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,51}</string>
                <key>spriteSourceSize</key>
                <string>{197,51}</string>
                <key>textureRect</key>
                <string>{{1773,0},{197,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>image5.png</string>
            <key>size</key>
            <string>{1970,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:620f9a89dc4e71a77b6b54d362660bcb:c7dd6dfede5588396efd830a5675852b:48ba21e6349a3207baf46a2216453a71$</string>
            <key>textureFileName</key>
            <string>image5.png</string>
        </dict>
    </dict>
</plist>
