<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image1_2.p00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,51}</string>
                <key>spriteSourceSize</key>
                <string>{243,51}</string>
                <key>textureRect</key>
                <string>{{0,0},{243,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image1_2.p01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,51}</string>
                <key>spriteSourceSize</key>
                <string>{243,51}</string>
                <key>textureRect</key>
                <string>{{243,0},{243,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image1_2.p02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,51}</string>
                <key>spriteSourceSize</key>
                <string>{243,51}</string>
                <key>textureRect</key>
                <string>{{0,51},{243,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image1_2.p03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,51}</string>
                <key>spriteSourceSize</key>
                <string>{243,51}</string>
                <key>textureRect</key>
                <string>{{243,51},{243,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image1_2.p04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,51}</string>
                <key>spriteSourceSize</key>
                <string>{243,51}</string>
                <key>textureRect</key>
                <string>{{0,102},{243,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image1_2.p05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,51}</string>
                <key>spriteSourceSize</key>
                <string>{243,51}</string>
                <key>textureRect</key>
                <string>{{243,102},{243,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image1_2.p06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,51}</string>
                <key>spriteSourceSize</key>
                <string>{243,51}</string>
                <key>textureRect</key>
                <string>{{0,153},{243,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image1_2.p07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,51}</string>
                <key>spriteSourceSize</key>
                <string>{243,51}</string>
                <key>textureRect</key>
                <string>{{243,153},{243,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image1_2.p08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,51}</string>
                <key>spriteSourceSize</key>
                <string>{243,51}</string>
                <key>textureRect</key>
                <string>{{0,204},{243,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image1_2.p09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,51}</string>
                <key>spriteSourceSize</key>
                <string>{243,51}</string>
                <key>textureRect</key>
                <string>{{243,204},{243,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>image1_2.png</string>
            <key>size</key>
            <string>{486,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9fcafb9e213d556f68ee7c27d38cbb6:1e3b9a9f2ee6ab95178cee462a23224a:1a49849fbe460619c41d16bf9ac042dd$</string>
            <key>textureFileName</key>
            <string>image1_2.png</string>
        </dict>
    </dict>
</plist>
