<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,51}</string>
                <key>spriteSourceSize</key>
                <string>{243,51}</string>
                <key>textureRect</key>
                <string>{{0,0},{243,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,51}</string>
                <key>spriteSourceSize</key>
                <string>{243,51}</string>
                <key>textureRect</key>
                <string>{{0,51},{243,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,51}</string>
                <key>spriteSourceSize</key>
                <string>{243,51}</string>
                <key>textureRect</key>
                <string>{{0,102},{243,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,51}</string>
                <key>spriteSourceSize</key>
                <string>{243,51}</string>
                <key>textureRect</key>
                <string>{{0,153},{243,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,51}</string>
                <key>spriteSourceSize</key>
                <string>{243,51}</string>
                <key>textureRect</key>
                <string>{{0,204},{243,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,51}</string>
                <key>spriteSourceSize</key>
                <string>{243,51}</string>
                <key>textureRect</key>
                <string>{{0,255},{243,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,51}</string>
                <key>spriteSourceSize</key>
                <string>{243,51}</string>
                <key>textureRect</key>
                <string>{{0,306},{243,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,51}</string>
                <key>spriteSourceSize</key>
                <string>{243,51}</string>
                <key>textureRect</key>
                <string>{{0,357},{243,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,51}</string>
                <key>spriteSourceSize</key>
                <string>{243,51}</string>
                <key>textureRect</key>
                <string>{{0,408},{243,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,51}</string>
                <key>spriteSourceSize</key>
                <string>{243,51}</string>
                <key>textureRect</key>
                <string>{{0,0},{243,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>image1_2.png</string>
            <key>size</key>
            <string>{243,459}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:289be577087f55d9dfda75449647ea51:1e3b9a9f2ee6ab95178cee462a23224a:1a49849fbe460619c41d16bf9ac042dd$</string>
            <key>textureFileName</key>
            <string>image1_2.png</string>
        </dict>
    </dict>
</plist>
