<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{0,0},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{0,151},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{0,302},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{0,453},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{0,604},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{0,755},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{0,906},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{0,1057},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{0,1208},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,151}</string>
                <key>spriteSourceSize</key>
                <string>{212,151}</string>
                <key>textureRect</key>
                <string>{{0,1359},{212,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>image4_2_1_999.png</string>
            <key>size</key>
            <string>{212,1510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b9f6587195ba6ff3d74309c5fc09ae6:6ae5819484f627438530c8ebc1144ca1:0c22eba813f45a52d6bb34c3dbecf0cd$</string>
            <key>textureFileName</key>
            <string>image4_2_1_999.png</string>
        </dict>
    </dict>
</plist>
